[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=mate-panel-launcher
Icon[en_US]=mate-panel-launcher
Exec=mate-terminal -e hca/bin/HCA_Mean_Reversion_bot.sh
Name[en_US]=HCA_MR_bot
Comment[en_US]=Mean Reversion Bot
Name=HCA_MR_bot
Comment=Mean Reversion Bot
GenericName[en_US.UTF-8]=HCAMeanReversionBot
